/* #grad1 and .line are both used to create rainbow border effect at top of page */
#grad1 {
    background: red;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange, yellow, green, cyan, blue, violet);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
    /* Standard syntax (must be last) */
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.line {
    height: 6px;
    border-radius: 4px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #1a1a1d;
    color: #fff;
}

/* added footer rainbow effect */
footer {
    font-size: 16px;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color: #fff;
}

h1 {
    display: inline-block;
    font-size: 200%;
}

h2 {
    font-size: 175%;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 310px;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-left: 25px;
}

nav a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: #c3073f;
}

.pictures {
    display: flex;
    flex-direction: column;
}

section {
    width: 70%;
    margin: 2px auto;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    background-color: #1a1a1d;
    color: #fff;
}

#challenge-projects,
#dallas-tx,
#geist {
    margin: 20px auto;
    padding: 2px;
    border: 2px solid #fff;
    max-width: 50%;
}
#challenge-projects:hover {
    opacity: 60%;
    border: 2px solid #c3073f
}

.my-info a {
    display: block;
    border: 2px solid #fff;
    padding: 2%;
    margin: 0 125px 0 125px;
    background-color: #fff;
    color:#1a1a1d;
    box-shadow: inset 2px 2px 3px black;
}

.my-info a:visited {
    color: blue;
}

.my-info a:hover {
    background-color: rgb(153, 151, 151);
}


@media screen and (max-width: 768px) {
    header {
        text-align: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .pictures {
        display: flex;
        flex-direction: column;
    }
}